Source: ros-humble-hri-face-body-matcher
Section: misc
Priority: optional
Maintainer: Luka Juricic <luka.juricic@pal-robotics.com>
Build-Depends: debhelper (>= 9.0.0), libblas-dev, libdlib-dev, liblapack-dev, libopencv-dev, libsqlite3-dev, ros-humble-ament-cmake-auto, ros-humble-ament-cmake-gmock <!nocheck>, ros-humble-ament-lint-auto <!nocheck>, ros-humble-ament-lint-common <!nocheck>, ros-humble-diagnostic-msgs, ros-humble-diagnostic-updater, ros-humble-hri, ros-humble-hri-msgs, ros-humble-hri-msgs <!nocheck>, ros-humble-lifecycle-msgs, ros-humble-lifecycle-msgs <!nocheck>, ros-humble-rcl-interfaces <!nocheck>, ros-humble-rclcpp, ros-humble-rclcpp-lifecycle, ros-humble-rclpy <!nocheck>, ros-humble-rosgraph-msgs <!nocheck>, ros-humble-ros-workspace
Homepage: 
Standards-Version: 3.9.2

Package: ros-humble-hri-face-body-matcher
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libblas-dev, libdlib-dev, liblapack-dev, libopencv-dev, libsqlite3-dev, ros-humble-diagnostic-msgs, ros-humble-diagnostic-updater, ros-humble-hri, ros-humble-hri-msgs, ros-humble-lifecycle-msgs, ros-humble-rclcpp, ros-humble-rclcpp-lifecycle, ros-humble-ros-workspace
Description: The hri_face_body_matcher package
